html body {
    background-color: #242424;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*overflow: hidden;*/
}


/* Horizontal Lines */
.one {
    position: absolute;
    top: 99.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
}
.two {
    position: absolute;
    top: 199.1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
}
.three {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
}

/* Start */
.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 100%;
    & #title {
        position: inherit;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -75%);
        font-size: 4vw;
        color: wheat;
        animation-name: titleshadow;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        & a {
            color: inherit;
            text-decoration: none;
        }
    }
    & #pfp {
        position: inherit;
        top: 50%;
        left: 75%;
        transform: inherit;
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 1/1;
        border-radius: 2%;   
    }
}

/* Skill */
.skill {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 100%;
    & .stitle {
        position: inherit;
        top: 0%;
        left: inherit;
        transform: inherit;
        color: wheat;
        font-size: 6vw;
    }
    & .preflang {
        position: inherit;
        top: 45%;
        left: 20%;
        transform: inherit;
        width: 99%;
        height: 100%;
        & .chart {
            position: inherit;
            top: 50%;
            left: 50%;
            transform: inherit;
            background-color: whitesmoke;
            border-radius: 1%;
            box-shadow: 0px 0px 5px whitesmoke;
            padding: 1%;
            width: 24vw;
            height: 20vw;
            & .bar {
                fill: #242424;
                border-radius: 50%;
                & .stroke {
                    stroke: #242424;
                    fill: none;
                }
            }
        }
    }
}

/* Media Query*/
@media (max-width: 786px) {
    .welcome {
        & #title {
            top: 65%;
            left: 50%;
            font-size: 8vw;
        }
        & #pfp {
            top: 25%;
            left: 50%;
            width: 45%; 
        }
    }
    .skill {
        & .preflang {
            top: 25%;
            left: 50%;
            & .chart {
                width: 46vw;
                height: 40vw;
            }
        }
    }
}

/* Keyframes */
@keyframes titleshadow {
    0%      {text-shadow: 0px 0px 15px wheat;}
    50%     {text-shadow: 0px 0px 15px #242424;}
    100%    {text-shadow: 0px 0px 15px wheat;}
}