body {
    background-color: #252525;
    overflow: hidden;
}

.title #username {
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 5vw;
    position: absolute;
    top: 14%;
    left: 11%;
    color: white;
}

.navbuttons #buttondown {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 50%;
    cursor: pointer;
}

.navbuttons #buttonup {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 50%;
    cursor: pointer;
}

.profile #picture {
    position: absolute;
    top: 38%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
}

#firstframe {
    position: absolute;
    top: 0%;
}

#lastframe {
    position: absolute;
    top: 100%;
}